{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<body id="page-top">
{% include 'parciais/_nav.html' %}
{% if home %}
    {% include 'parciais/_masthead.html' %}
{% endif %}
<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="row">
            {% block conteudo %} {% endblock %}
        </div>
        <div class="div-flex">
            {% include 'parciais/_pagination.html' %}
        <div>
    </div>
</section>
{% include 'parciais/_footer.html' %}
</body>
<head>
        {% include 'parciais/_head.html' %}
    </head>
</html>
