{% extends 'base/base.html' %}
{% load static %}
{% load manipula_dados %}
{% block conteudo %}
    <div class="text-center">
        <h2 class="section-heading text-uppercase">Produtos</h2>
        <h3 class="section-subheading"></h3>
    </div>
    {% for produto in produtos %}
        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="portfolio-item">
                <a class="portfolio-link" href="{{ produto.slug }}">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fas fa-search fa-3x"></i></div>
                    </div>
                    {% if produto.imagem %}
                        <img class="img-fluid" src="{{ produto.imagem.url }}" alt="{{ produto.nome }}"/>
                    {% endif %}
                </a>
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">{{ produto.nome }}</div>
                    <div class="row product-price">
                        {% if produto.preco_marketing_promocional %}
                            <span class="text-muted-line">{{ produto.preco_marketing|formata_moeda }}</span>
                            <span class="text">{{ produto.preco_marketing_promocional|formata_moeda }}</span>
                        {% else %}
                            <span class="text">&nbsp;</span>
                            <span class="text">{{ produto.preco_marketing|formata_moeda }}</span>
                        {% endif %}
                    </div>
                    <a href="{{ produto.slug }}" class="btn btn-primary btn-md text-uppercase">Comprar</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}